.backgroundimage{
  background-image: url(./image/david-marcu.jpg);
  
}
/* .contactbackground{
  background-image: url(./image/sreehar.jpg);

} */
/* .aboutbackground{
  background-image: url(./image/srinivasan.jpg);

} */
.backgroundimage,.aboutbackground,.contactbackground{
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;

}
.setposition{
  height: 50vh;
}
.qoutee{
  width: 2%;
  
}
.cardstyle{
  width: 18rem;
}
.card:hover {
  transition: 0.3s ease-in-out;
  scale: 1.05;
  
}
.card{
  margin: 5px;
}

@media(min-width:300px){
  .dflex { 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
   
   

  }
}
